In [5]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [6]:
[
    {'name': 'Company 3', 'domain': 'Healthcare', 'country': 'United States'},
    {'name': 'Company 2', 'domain': 'Technology', 'country': 'United Kingdom'},
    {'name': 'Company 1', 'domain': 'Retail', 'country': 'United States'}
]

[{'name': 'Company 3', 'domain': 'Healthcare', 'country': 'United States'},
 {'name': 'Company 2', 'domain': 'Technology', 'country': 'United Kingdom'},
 {'name': 'Company 1', 'domain': 'Retail', 'country': 'United States'}]

In [7]:
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [9]:
# Data perusahaan dan karyawan seperti yang telah didefinisikan sebelumnya
company_detail_list = [
    {'name': 'Company 1', 'domain': 'Retail', 'country': 'United States'},
    {'name': 'Company 2', 'domain': 'Technology', 'country': 'United Kingdom'},
    {'name': 'Company 3', 'domain': 'Healthcare', 'country': 'United States'}
]

employee_detail_list = [
    {'name': 'EMP-0001', 'first_name': 'John', 'last_name': 'Doe', 'full_name': 'John Doe', 'company': 'Company 1', 'nationality': 'Australia'},
    {'name': 'EMP-0002', 'first_name': 'Tom', 'last_name': 'Smith', 'full_name': 'Tom Smith', 'company': 'Company 2', 'nationality': 'United States'},
    {'name': 'EMP-0003', 'first_name': 'Andrew', 'last_name': 'Sebastian', 'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'nationality': 'United States'},
    {'name': 'EMP-0005', 'first_name': 'Ying Han', 'last_name': 'Tan', 'full_name': 'Ying Han Tan', 'company': 'Company 1', 'nationality': 'Australia'},
    {'name': 'EMP-0015', 'first_name': 'Kenneth', 'last_name': 'Ng', 'full_name': 'Kenneth Ng', 'company': 'Company 3', 'nationality': 'United States'},
    {'name': 'EMP-0018', 'first_name': 'Rubby', 'last_name': 'Lee', 'full_name': 'Rubby Lee', 'company': 'Company 2', 'nationality': 'Hong Kong'},
    {'name': 'EMP-0017', 'first_name': 'Robert', 'last_name': 'White', 'full_name': 'Robert White', 'company': 'Company 1', 'nationality': 'United Kingdom'}
]

# Mencocokkan karyawan dengan bidang perusahaan
domain_employees = {}
for company in company_detail_list:
    domain = company['domain']
    domain_employees[domain] = [emp['full_name'] for emp in employee_detail_list if emp['company'] == company['name']]

# Menampilkan hasil output yang diurutkan ke bawah
for domain, employees in domain_employees.items():
    print(f'"{domain}": [')
    for emp in employees:
        print(f'    "{emp}",')
    print('],')

"Retail": [
    "John Doe",
    "Ying Han Tan",
    "Robert White",
],
"Technology": [
    "Tom Smith",
    "Rubby Lee",
],
"Healthcare": [
    "Andrew Sebastian",
    "Kenneth Ng",
],

In [11]:
def employees_with_company_country(employee_list, company_list):
    result = []
    for employee in employee_list:
        company_info = next((c for c in company_list if c['name'] == employee['company']), None)
        if company_info:
            result.append({
                "full_name": employee['full_name'],
                "company": employee['company'],
                "country": company_info['country']
            })
    return result

# Mengambil data karyawan beserta negara asal perusahaan
employees_data = employees_with_company_country(employee_detail_list, company_detail_list)

# Menampilkan hasil output yang diurutkan ke bawah
print('[')
for emp in employees_data:
    print(f'    {{')
    print(f'        "full_name": "{emp["full_name"]}",')
    print(f'        "company": "{emp["company"]}",')
    print(f'        "country": "{emp["country"]}"')
    print(f'    }},')
print(']')

[
    {
        "full_name": "John Doe",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Tom Smith",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Andrew Sebastian",
        "company": "Company 3",
        "country": "United States"
    },
    {
        "full_name": "Ying Han Tan",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Kenneth Ng",
        "company": "Company 3",
        "country": "United States"
    },
    {
        "full_name": "Rubby Lee",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Robert White",
        "company": "Company 1",
        "country": "United States"
    },
]

In [13]:
def employee_nationality_count(employee_list, company_list):
    result = []
    for company in company_list:
        nationality_count = {}
        employees_in_company = [emp for emp in employee_list if emp['company'] == company['name']]
        for emp in employees_in_company:
            nationality = emp['nationality']
            nationality_count[nationality] = nationality_count.get(nationality, 0) + 1
        result.append({
            "company": company['name'],
            "employee_nationality": nationality_count
        })
    return result

# Menyusun output dalam format yang diurutkan ke bawah
output_task_5 = employee_nationality_count(employee_detail_list, company_detail_list)
print("[")
for entry in output_task_5:
    print("    {")
    print(f"        \"company\": \"{entry['company']}\",")
    print("        \"employee_nationality\": {")
    for nationality, count in entry['employee_nationality'].items():
        print(f"            \"{nationality}\": {count},")
    print("        }")
    print("    },")
print("]")

[
    {
        "company": "Company 1",
        "employee_nationality": {
            "Australia": 2,
            "United Kingdom": 1,
        }
    },
    {
        "company": "Company 2",
        "employee_nationality": {
            "United States": 1,
            "Hong Kong": 1,
        }
    },
    {
        "company": "Company 3",
        "employee_nationality": {
            "United States": 2,
        }
    },
]